@{
    ViewBag.Title = "Buy Minecraft Mod Administrator";
}
<font color="white">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <img style="position:absolute; top:45px; right:700px" alt="" title="" src="~/Resources/Payment.gif" width="150" height="139" border="0" />
    
    <form action="demo_form.asp">
        First name: <input type="text" style='color:#000000' name="fname"><br>
        Last name: <input type="text" style='color:#000000' name="lname"><br>
        Card Number: <input type="text" style='color:#000000' name="cardNum"><br>
        <input class="btn btn-default" style='color:#000000' type="submit" value="Submit">
    </form>
</font>
