@{
    ViewBag.Title = "Contact Simplified Gaming Solutions";
}
<div class="jumbotron">

    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.Message</h3>
</div>

<font color="white">
    <address>
        <br />
        <strong>Location</strong>
        <br />
        Provo, UT<br />
        <abbr title="Phone">Phone:</abbr>
        xxx.xxx.xxxx
    </address>

    <address>
        <strong>Email:</strong><a href="mailto:simplifiedgamingsolutions@gmail.com"> SimplifiedGamingSolutions@gmail.com</a><br />
    </address>
</font>
