@{
    ViewBag.Title = "SGS";
    
    SSQLib.ServerInfo arkInfo = ((SGS_Web.Controllers.DefaultController)this.ViewContext.Controller).getSteamServerInfo("SimplifiedGamingSolutions.com", 27016);
    SGS_Web.Minecraft.MinecraftServerInfo minecraftInfo = ((SGS_Web.Controllers.DefaultController)this.ViewContext.Controller).getMinecraftServerInfo("SimplifiedGamingSolutions.com", 25565);

}
<div class="row">
    <div class="col-md-4">
        <font color="black">
            <img align="middle" title="" src="~/Resources/game_controller.jpg" style="width:100%;height:100%;border-radius:2%" border="0" />
            <h2><a href="/Ark">Ark: Survival Evolved</a></h2>
            @if (@arkInfo == null)
            {
                <p><b>Name:</b> "n/a"</p>
                <p><b>Address:</b> simplifiedgamingsolutions.com</p>
                <p><b>Status:</b> <font color="red"> Offline </font></p>
                <p><b>Players:</b> "n/a"</p>
            }else
            {
                <p><b>Name: </b>@arkInfo.Name</p>
                <p><b>Address: </b> simplifiedgamingsolutions.com</p>
                <p><b>Status: </b> <font color="green"> Online </font></p>
                <p><b>Players Online: </b> @arkInfo.PlayerCount/@arkInfo.MaxPlayers</p>
            }
        </font>
        <font color="black">
            <h2><a href="/Minecraft">Minecraft</a></h2>
            @if (@minecraftInfo == null)
            {
                <p><b>Name:</b> n/a</p>
                <p><b>Address:</b> simplifiedgamingsolutions.com</p>
                <p><b>Status:</b> <font color="red"> Offline </font></p>
                <p><b>Players Online:</b> n/a</p>
            }
            else
            {
                <p><b>Address: </b> simplifiedgamingsolutions.com</p>
                <p><b>Status: </b> <font color="green"> Online </font></p>
                <p><b>Players: </b> @minecraftInfo.CurrentPlayerCount/@minecraftInfo.MaxPlayerCount</p>
            }
        </font>
    </div>
    <div class="col-md-8">
        <center class="jumbotron">
            <h1>Simplified Gaming Solutions</h1>
            <img align="middle" title="" src="/Resources/gaming_image.jpg" style="width:100%;height:100%;border-radius:2%" border="0" />
        </center>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Enjoy gaming yourself?</h2>
            <p>Start your own server with the click of a button. Requires no set up, download and start playing today!</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>You have the Power</h2>
            <p>As the owner of your server you have the power. Give or take items from your friends, rule your world the way you want!</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#2">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Control your server</h2>
            <p>Easily alter server configurations to change the gameplay to suite your players.</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#3">Learn more &raquo;</a></p>
        </div>
    </div>