@{
    ViewBag.Title = "SGS";
}
<div class="jumbotron">
   <center>
       <h1>Simplified Gaming Solutions</h1>
       <img align="middle" title="" src="~/Resources/SideImage.jpg" style="width:100%;height:100%;border-radius:2%" border="0" />
   </center>
</div>

<font color="white">
    <div class="row">
        <div class="col-md-4">
            <h2>Play with your friends</h2>
            <p>Start your own server with the click of a button. Requires no set up, download and start playing today!</p>
            <p><a class="btn btn-default" href="~/ProductInfo">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>You have the Power</h2>
            <p>As the owner of your server you have the power. Give or take items from your friends, rule your world the way you want!</p>
            <p><a class="btn btn-default" href="~/ProductInfo">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Control your Mods</h2>
            <p>Drag and drop your favorite mods into your world.</p>
            <p><a class="btn btn-default" href="~/ProductInfo#1">Learn more &raquo;</a></p>
        </div>
    </div>
</font>