@{
    ViewBag.Title = "Minecraft Mod Administrator";
    Layout = "~/Views/Shared/Minecraft_Layout.cshtml";
}

<font color="white">
    <div class="row">
        <div class="col-md8" id="=1">
            <img title="" src="~/Resources/PlayWithYourFriends.png" style="width:50%;height:50%;border-radius:2%;float:left" border="0" />
        </div>
        <div class="col-md-4">
            <center>Playing with your friends has never been so easy! With the press of a button you can create your own world where you and your friends can create and explore!</center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="2">
            Drag and drop the mods you want or edit the txt files to create the world you want!
        </div>
        <div class="col-md8">
            <img align="right" title="" src="~/Resources/ControlYourMods.png" style="width:50%;height:50%;border-radius:2%" border="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-md8" id="=3" style="align-content:center">
            <img title="" src="~/Resources/MCMA_Logs.png" style="width:50%;height:50%;border-radius:2%;float:left" border="0" />
        </div>
        <div class="col-md-4">
            Keep track of what has been said between your friends while you were away with your chat log files.
        </div>
    </div>
</font>
