@{
    ViewBag.Title = "Minecraft Mod Administrator";
}

<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<font color="white">
   <div id="1" style="position:absolute;left:0px;top:200px; background-color:#ff0000">ToDo$$$</div>
</font>
