@{
    ViewBag.Title = "Minecraft Mod Administrator";
}

<font color="white">
    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.Message</h3>
    <div id="1">
        <left>
            <img align="middle" title="" src="~/Resources/PlayWithYourFriends.png" style="width:50%;height:50%;border-radius:2%" border="0" />
            <right>
                Playing with your friends has never been so easy! With the press of a button
                you can create your own world where you and your friends can create and explore!
            </right>
        </left>
    </div>
   <div id="2" style="position:absolute;left:0px;top:700px; background-color:#ff0000">ToDo$$$</div>
   <div id="3">
       <right>
           <img align="middle" title="" src="~/Resources/ControlYourMods.png" style="width:50%;height:50%;border-radius:2%" border="0" />
           <left>
               Drag and drop the mods you want or edit the txt files to create the world you want!
           </left>
       </right>
   </div>
</font>
